body    {
    background-color: #503931;
}

#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permantent Marker", cursive;
    font-size: 100px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
#resultLetter{
    font-size: 100px;
    color: red;
}

#nextPagePong   {
    font-family: "Permanent Marker", cursive;
    color: rgb(255, 1, 192);
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 90%;
}
